<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148725116494-lg8342ilb3hseb451mrv4bae11hpsjvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148725116494-lg8342ilb3hseb451mrv4bae11hpsjvg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>148725116494-7cmau4eg48n0ups8tabm183hk1h3qcf0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFKACz05dLzffdP5lpwCZ9OO7qGMxsRmU</string>
	<key>GCM_SENDER_ID</key>
	<string>148725116494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lingonapp.lingon</string>
	<key>PROJECT_ID</key>
	<string>lingon</string>
	<key>STORAGE_BUCKET</key>
	<string>lingon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148725116494:ios:9147e08933e108917c1d1f</string>
	<key>DATABASE_URL</key>
	<string>https://lingon.firebaseio.com</string>
</dict>
</plist>